body {
  padding-top: 40px;
  text-align: center;
  background-color: #f6f7fc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f6f7fc;
  padding: 10px;
}


h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  max-width: 300px;
}

#pinInput {
  order: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: 0;
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}



.position {
  margin-top: 4em;
}

.bas{
  margin-top: 5em;
}
.dropdown-menu {
  display: none; /* Masquer initialement le menu déroulant */
}

.show-dropdown .dropdown-menu {
  display: block; /* Afficher le menu déroulant lorsque la classe "show-dropdown" est présente */
}

.show-dropdown .dropdown-item {
  display: block; /* Afficher les autres boutons dans le menu déroulant */
}

